/* {
    border: 1px solid blue;
    margin: 1px;
    padding: 1px;
}
*/

.drawContainer, .row {
    display: flex;
    border: 5px solid black;
}

.row, .column {
    flex-grow: 1;
}

.drawContainer {
    height: 800px;
    width: 800px;
    flex-direction: column;
}

.row {

    margin: 0px;
    padding: 0px;
    border: 0px;
}

.column {

}